[submodule "src/xtd_console"]
	path = src/xtd_console
	url = https://github.com/gammasoft71/xtd_console
[submodule "src/xtd_core"]
	path = src/xtd_core
	url = https://github.com/gammasoft71/xtd_core
[submodule "src/xtd_delegates"]
	path = src/xtd_delegates
	url = https://github.com/gammasoft71/xtd_delegates
[submodule "src/xtd_diagnostics"]
	path = src/xtd_diagnostics
	url = https://github.com/gammasoft71/xtd_diagnostics
[submodule "src/xtd_drawing"]
	path = src/xtd_drawing
	url = https://github.com/gammasoft71/xtd_drawing
[submodule "src/xtd_forms"]
	path = src/xtd_forms
	url = https://github.com/gammasoft71/xtd_forms
[submodule "src/xtd_io"]
	path = src/xtd_io
	url = https://github.com/gammasoft71/xtd_io
[submodule "src/xtd_properties"]
	path = src/xtd_properties
	url = https://github.com/gammasoft71/xtd_properties
[submodule "src/xtd_strings"]
	path = src/xtd_strings
	url = https://github.com/gammasoft71/xtd_strings
[submodule "src/xtd_tunit"]
	path = src/xtd_tunit
	url = https://github.com/gammasoft71/xtd_tunit
