/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  background-image: url("../../static/img/background.png");
  font-weight: bold;
  min-height: 100px;
  text-shadow: rgb(37, 44, 56) 2px 0 10px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
