div.image img[src="tg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="me.png"]{
  width:128px;
  height:96px;
}

div.image img[src="la.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ni.png"]{
  width:128px;
  height:96px;
}

div.image img[src="lv.png"]{
  width:128px;
  height:96px;
}

div.image img[src="om.png"]{
  width:128px;
  height:96px;
}

div.image img[src="af.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cy.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bj.png"]{
  width:128px;
  height:96px;
}

div.image img[src="aq.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="co.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cx.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ag.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ms.png"]{
  width:128px;
  height:96px;
}

div.image img[src="md.png"]{
  width:128px;
  height:96px;
}

div.image img[src="zm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="zz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="vn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tf.png"]{
  width:128px;
  height:96px;
}

div.image img[src="td.png"]{
  width:128px;
  height:96px;
}

div.image img[src="yt.png"]{
  width:128px;
  height:96px;
}

div.image img[src="lb.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mf.png"]{
  width:128px;
  height:96px;
}

div.image img[src="lu.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mq.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ae.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bi.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ar.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_wales.png"]{
  width:128px;
  height:96px;
}

div.image img[src="as.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bh.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cl.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ad.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mp.png"]{
  width:128px;
  height:96px;
}

div.image img[src="lt.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="lc.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ua.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tv.png"]{
  width:128px;
  height:96px;
}

div.image img[src="vi.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mt.png"]{
  width:128px;
  height:96px;
}

div.image img[src="no.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mc.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ch.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bl.png"]{
  width:128px;
  height:96px;
}

div.image img[src="aw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ci.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mu.png"]{
  width:128px;
  height:96px;
}

div.image img[src="us.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ye.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="nl.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ls.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bo.png"]{
  width:128px;
  height:96px;
}

div.image img[src="at.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ck.png"]{
  width:128px;
  height:96px;
}

div.image img[src="by.png"]{
  width:128px;
  height:96px;
}

div.image img[src="au.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ma.png"]{
  width:128px;
  height:96px;
}

div.image img[src="nz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="lr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mv.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tc.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ug.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tt.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pl.png"]{
  width:128px;
  height:96px;
}

div.image img[src="rs.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_basque.png"]{
  width:128px;
  height:96px;
}

div.image img[src="in.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ge.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gs.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_scotland.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gd.png"]{
  width:128px;
  height:96px;
}

div.image img[src="io.png"]{
  width:128px;
  height:96px;
}

div.image img[src="hk.png"]{
  width:128px;
  height:96px;
}

div.image img[src="kp.png"]{
  width:128px;
  height:96px;
}

div.image img[src="kg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sv.png"]{
  width:128px;
  height:96px;
}

div.image img[src="re.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sa.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sc.png"]{
  width:128px;
  height:96px;
}

div.image img[src="st.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ke.png"]{
  width:128px;
  height:96px;
}

div.image img[src="im.png"]{
  width:128px;
  height:96px;
}

div.image img[src="kr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gf.png"]{
  width:128px;
  height:96px;
}

div.image img[src="dj.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gq.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gp.png"]{
  width:128px;
  height:96px;
}

div.image img[src="dk.png"]{
  width:128px;
  height:96px;
}

div.image img[src="eo.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="il.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sb.png"]{
  width:128px;
  height:96px;
}

div.image img[src="py.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ru.png"]{
  width:128px;
  height:96px;
}

div.image img[src="kw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="do.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gt.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gb.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gu.png"]{
  width:128px;
  height:96px;
}

div.image img[src="je.png"]{
  width:128px;
  height:96px;
}

div.image img[src="hm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pk.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="se.png"]{
  width:128px;
  height:96px;
}

div.image img[src="jp.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="eh.png"]{
  width:128px;
  height:96px;
}

div.image img[src="brl.png"]{
  width:128px;
  height:96px;
}

div.image img[src="dz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ga.png"]{
  width:128px;
  height:96px;
}

div.image img[src="fr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="dm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="hn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sd.png"]{
  width:128px;
  height:96px;
}

div.image img[src="rw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ph.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ss.png"]{
  width:128px;
  height:96px;
}

div.image img[src="qa.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pe.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="si.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ht.png"]{
  width:128px;
  height:96px;
}

div.image img[src="es.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gl.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_earth_pernefeldt.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="er.png"]{
  width:128px;
  height:96px;
}

div.image img[src="fi.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ee.png"]{
  width:128px;
  height:96px;
}

div.image img[src="kn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="hu.png"]{
  width:128px;
  height:96px;
}

div.image img[src="iq.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ky.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_generic.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sh.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ps.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pf.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sj.png"]{
  width:128px;
  height:96px;
}

div.image img[src="id.png"]{
  width:128px;
  height:96px;
}

div.image img[src="is.png"]{
  width:128px;
  height:96px;
}

div.image img[src="eg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="fk.png"]{
  width:128px;
  height:96px;
}

div.image img[src="fj.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gy.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ir.png"]{
  width:128px;
  height:96px;
}

div.image img[src="km.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ie.png"]{
  width:128px;
  height:96px;
}

div.image img[src="kz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_catalonia.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ro.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sk.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pt.png"]{
  width:128px;
  height:96px;
}

div.image img[src="so.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sx.png"]{
  width:128px;
  height:96px;
}

div.image img[src="hr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ki.png"]{
  width:128px;
  height:96px;
}

div.image img[src="jm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="eu.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ec.png"]{
  width:128px;
  height:96px;
}

div.image img[src="et.png"]{
  width:128px;
  height:96px;
}

div.image img[src="fo.png"]{
  width:128px;
  height:96px;
}

div.image img[src="kh.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sy.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sl.png"]{
  width:128px;
  height:96px;
}

div.image img[src="fm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gi.png"]{
  width:128px;
  height:96px;
}

div.image img[src="de.png"]{
  width:128px;
  height:96px;
}

div.image img[src="gh.png"]{
  width:128px;
  height:96px;
}

div.image img[src="jo.png"]{
  width:128px;
  height:96px;
}

div.image img[src="it.png"]{
  width:128px;
  height:96px;
}

div.image img[src="pa.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="sm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ml.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ax.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ao.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bt.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_olympic.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bb.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cf.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="li.png"]{
  width:128px;
  height:96px;
}

div.image img[src="na.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="to.png"]{
  width:128px;
  height:96px;
}

div.image img[src="vg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ve.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tm.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mx.png"]{
  width:128px;
  height:96px;
}

div.image img[src="nc.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mo.png"]{
  width:128px;
  height:96px;
}

div.image img[src="lk.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cd.png"]{
  width:128px;
  height:96px;
}

div.image img[src="al.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bv.png"]{
  width:128px;
  height:96px;
}

div.image img[src="am.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_united_nations.png"]{
  width:128px;
  height:96px;
}

div.image img[src="az.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ba.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mn.png"]{
  width:128px;
  height:96px;
}

div.image img[src="nu.png"]{
  width:128px;
  height:96px;
}

div.image img[src="my.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tl.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ws.png"]{
  width:128px;
  height:96px;
}

div.image img[src="th.png"]{
  width:128px;
  height:96px;
}

div.image img[src="nf.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ly.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ai.png"]{
  width:128px;
  height:96px;
}

div.image img[src="br.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cv.png"]{
  width:128px;
  height:96px;
}

div.image img[src="be.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ca.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bd.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bs.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ng.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mk.png"]{
  width:128px;
  height:96px;
}

div.image img[src="np.png"]{
  width:128px;
  height:96px;
}

div.image img[src="va.png"]{
  width:128px;
  height:96px;
}

div.image img[src="uz.png"]{
  width:128px;
  height:96px;
}

div.image img[src="um.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tk.png"]{
  width:128px;
  height:96px;
}

div.image img[src="vc.png"]{
  width:128px;
  height:96px;
}

div.image img[src="zw.png"]{
  width:128px;
  height:96px;
}

div.image img[src="nr.png"]{
  width:128px;
  height:96px;
}

div.image img[src="ne.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cu.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bq.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bf.png"]{
  width:128px;
  height:96px;
}

div.image img[src="_galicia.png"]{
  width:128px;
  height:96px;
}

div.image img[src="bg.png"]{
  width:128px;
  height:96px;
}

div.image img[src="cc.png"]{
  width:128px;
  height:96px;
}

div.image img[src="mh.png"]{
  width:128px;
  height:96px;
}

div.image img[src="za.png"]{
  width:128px;
  height:96px;
}

div.image img[src="uy.png"]{
  width:128px;
  height:96px;
}

div.image img[src="wf.png"]{
  width:128px;
  height:96px;
}

div.image img[src="vu.png"]{
  width:128px;
  height:96px;
}

div.image img[src="tj.png"]{
  width:128px;
  height:96px;
}
