system-colors {
      accent: #FF007AFF;
      accent-text: #FFFFFFFF;
      active-border: #FF4A4A4A;
      active-caption: #FF9A9A9A;
      active-caption-text: #FFE3E3E3;
      app-workspace: #FF262626;
      button-face: #FF6B6B6B;
      button-highlight: #FF4A4A4A;
      button-shadow: #FF232323 ;
      control: #FF323232;
      control-dark: #FF232323;
      control-dark-dark: #FF232323;
      control-light: #FF4A4A4A;
      control-light-light: #FF4A4A4A;
      control-text: #FFE3E3E3;
      desktop: #FF9A9A9A;
      gradient-active-caption: #FF9A9A9A;
      gradient-inactive-caption: #FF9A9A9A;
      gray-text: #FF6B6B6B;
      highlight: #FF314F78;
      highlight-text: #FFFFFFFF;
      hot-track: #FF3586FF;
      inactive-border: #FF9A9A9A;
      inactive-caption: #FF9A9A9A;
      inactive-caption-text: #FF6B6B6B;
      info: #FF262626;
      info-text: #FFE3E3E3;
      menu: #FF9A9A9A;
      menu-bar: #FF9A9A9A;
      menu-highlight: #FF345DF1;
      menu-text: #FFE3E3E3;
      scroll-bar: #FF9A9A9A;
      text-box: #FF414141;
      text-box-text: #FFFFFFFF;
      window: #FF171717;
      window-frame: #FF9A9A9A;
      window-text: #FFE3E3E3;
}
form {
  back-color: window;
  fore-color: window-text;
}
