name: macOS Build

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
  workflow_dispatch:
    branches: [ master ]

jobs:
  build:
    name: Build on macOS ${{ matrix.build_type }}
    #runs-on: macos-latest
    runs-on: macos-14
    strategy:
      matrix:
        build_type: [Debug, Release]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Show CMake version
      run: cmake --version
    
    - name: Installing packages
      run: brew list wxwidgets || brew install wxwidgets

    - name: Configuring CMake
      run: |
        mkdir -p build && cd build
        cmake .. \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DCMAKE_INSTALL_PREFIX=~/local \
          -DXTD_BUILD_CPP_STANDARD=20 \
          -DXTD_BUILD_WITH_CONTINUOUS_INTEGRATION_SYSTEM=ON \
          -DXTD_BUILD_TESTS_XTD_CORE=OFF \
          -DXTD_BUILD_TESTS_XTD_DRAWING=OFF \
          -DXTD_BUILD_TESTS_XTD_FORMS=OFF \
          -DXTD_BUILD_TESTS_XTD_TUNIT=OFF

    - name: Building xtd
      run: cmake --build build -- -j 8

    - name: Installing xtd
      run: cmake --build build --target install
          
    - name: Running xtd unit tests
      run: |
        cd build
        ctest --output-on-failure --build-config ${{ matrix.build_type }}

#    - name: Upload test results
#      uses: actions/upload-artifact@v3.1.4
#      with:
#        name: macos-${{ matrix.build_type }}-test-results
#        path: build/Testing
