name: Ubuntu Build

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  build:
    name: Build on Ubuntu ${{ matrix.build_type }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        build_type: [Debug, Release]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Show CMake version
      run: cmake --version

    - name: Installing packages
      run: sudo apt-get update && sudo apt-get install -y libasound2-dev libgsound-dev libgtk-3-dev libwxgtk3.2-dev doxygen

    - name: Configuring CMake
      run: |
        mkdir -p build && cd build
        cmake .. \
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
          -DCMAKE_INSTALL_PREFIX=~/local \
          -DXTD_BUILD_CPP_STANDARD=20 \
          -DXTD_BUILD_WITH_CONTINUOUS_INTEGRATION_SYSTEM=ON \
          -DXTD_BUILD_TESTS_XTD_CORE=OFF \
          -DXTD_BUILD_TESTS_XTD_DRAWING=OFF \
          -DXTD_BUILD_TESTS_XTD_FORMS=OFF \
          -DXTD_BUILD_TESTS_XTD_TUNIT=OFF

    - name: Building xtd
      run: cmake --build build -- -j $(nproc)

    - name: Installing xtd
      run: cmake --build build --target install
          
    - name: Running xtd unit tests
      run: |
        cd build
        ctest --output-on-failure

#    - name: Upload test results
#      uses: actions/upload-artifact@v3.1.4
#      with:
#        name: ubuntu-${{ matrix.build_type }}-test-results
#        path: build/Testing
